*{     
    font-family: "Poppins", sans-serif;
}

body{
    background:violet;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 95px;
    min-height: 300px;
}
.carousel-caption{
    bottom:220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 50px;
    letter-spacing: 2px;
}
.carousel-caption p{
    width: 60px;
    margin: auto;
    font-size: 50px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: rgba;
    /* z-index: 1; */
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;  
    font-weight: 500;
}
.navbar-light.navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.custom-alert {
    position: fixed;   /* Ensure the alert is fixed in position */
    top: 20px;        /* Position it 20 pixels from the top */
    right: 25px;      /* Position it 25 pixels from the right */
    background-color: green; /* Change based on type (success/error) */
    color: white;     /* Text color */
    padding: 10px 20px; /* Padding around the text */
    z-index: 2000;    /* Ensure it's above other content */
    border-radius: 5px; /* Optional: for rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: for a shadow effect */
    transition: opacity 0.3s ease; /* Optional: smooth transition */
}
